:root {
	--gray-100: hsl(0, 0%, 100%);
	--gray-98: hsl(0, 0%, 98%);
	--gray-96: hsl(0, 0%, 96%);
	--gray-94: hsl(0, 0%, 94%);
	--gray-92: hsl(0, 0%, 92%);
	--gray-90: hsl(0, 0%, 90%);
	--gray-88: hsl(0, 0%, 88%);
	--gray-80: hsl(0, 0%, 80%);
	--gray-70: hsl(0, 0%, 70%);
	--gray-60: hsl(0, 0%, 60%);
	--gray-50: hsl(0, 0%, 50%);
	--gray-40: hsl(0, 0%, 40%);
	--gray-30: hsl(0, 0%, 30%);
	--gray-20: hsl(0, 0%, 20%);
	--gray-10: hsl(0, 0%, 10%);
	--primary-98: hsl(120, 100%, 98%);
	--primary-96: hsl(120, 100%, 96%);
	--primary-94: hsl(120, 100%, 94%);
	--primary-92: hsl(120, 100%, 92%);
	--primary-90: hsl(120, 100%, 90%);
	--primary-88: hsl(120, 100%, 88%);
	--primary-50: hsl(120, 100%, 50%);
	--primary-40: hsl(120, 100%, 40%);
	--primary-30: hsl(120, 100%, 27%);
	--primary-25: hsl(120, 95%, 26%);
	--primary-20: hsl(120, 95%, 20%);
	--secondary-98: hsl(149, 51%, 98%);
	--secondary-96: hsl(149, 51%, 96%);
	--secondary-94: hsl(149, 51%, 94%);
	--secondary-92: hsl(149, 51%, 92%);
	--secondary-90: hsl(149, 51%, 90%);
	--secondary-88: hsl(149, 51%, 88%);
	--secondary-40: hsl(149, 51%, 40%);
	--secondary-30: hsl(149, 51%, 30%);
	--secondary-20: hsl(149, 51%, 21%);
	--tertiary-98: hsl(120, 15%, 98%);
	--tertiary-96: hsl(120, 15%, 96%);
	--tertiary-94: hsl(120, 15%, 94%);
	--tertiary-92: hsl(120, 15%, 92%);
	--tertiary-90: hsl(120, 15%, 90%);
	--tertiary-88: hsl(120, 15%, 88%);
	--tertiary-40: hsl(120, 15%, 40%);
	--tertiary-30: hsl(120, 15%, 30%);
	--tertiary-20: hsl(120, 15%, 20%);
	--info-98: hsl(207, 60%, 98%);
	--info-96: hsl(207, 60%, 96%);
	--info-94: hsl(207, 60%, 94%);
	--info-92: hsl(207, 60%, 92%);
	--info-90: hsl(207, 60%, 90%);
	--info-88: hsl(207, 60%, 88%);
	--info-40: hsl(207, 40%, 40%);
	--info-30: hsl(207, 25%, 40%);
	--error-98: hsl(0, 60%, 98%);
	--error-96: hsl(0, 60%, 96%);
	--error-94: hsl(0, 60%, 94%);
	--error-92: hsl(0, 60%, 92%);
	--error-90: hsl(0, 60%, 90%);
	--error-88: hsl(0, 60%, 88%);
	--error-40: hsl(0, 40%, 40%);
	--error-30: hsl(0, 25%, 40%);
	--warning-98: hsl(37, 60%, 98%);
	--warning-96: hsl(37, 60%, 96%);
	--warning-94: hsl(37, 60%, 94%);
	--warning-92: hsl(37, 60%, 92%);
	--warning-90: hsl(37, 60%, 90%);
	--warning-88: hsl(37, 60%, 88%);
	--warning-40: hsl(37, 35%, 39%);
	--warning-30: hsl(37, 25%, 40%);
	--advice-98: hsl(270, 60%, 98%);
	--advice-96: hsl(270, 60%, 96%);
	--advice-94: hsl(270, 60%, 94%);
	--advice-92: hsl(270, 60%, 92%);
	--advice-90: hsl(270, 60%, 90%);
	--advice-88: hsl(270, 60%, 88%);
	--advice-40: hsl(270, 40%, 40%);
	--advice-30: hsl(270, 25%, 40%);
}
