:root {
	--gr-100: hsl(0, 0%, 100%);
	--gr-98: hsl(0, 0%, 98%);
	--gr-96: hsl(0, 0%, 96%);
	--gr-94: hsl(0, 0%, 94%);
	--gr-92: hsl(0, 0%, 92%);
	--gr-90: hsl(0, 0%, 90%);
	--gr-80: hsl(0, 0%, 80%);
	--gr-70: hsl(0, 0%, 70%);
	--gr-60: hsl(0, 0%, 60%);
	--gr-50: hsl(0, 0%, 50%);
	--gr-40: hsl(0, 0%, 40%);
	--gr-30: hsl(0, 0%, 30%);
	--gr-20: hsl(0, 0%, 20%);
	--gr-10: hsl(0, 0%, 10%);
	--pr-98: hsl(240, 75%, 98%);
	--pr-96: hsl(240, 75%, 96%);
	--pr-94: hsl(240, 75%, 94%);
	--pr-92: hsl(240, 75%, 92%);
	--pr-90: hsl(240, 75%, 90%);
	--pr-80: hsl(240, 75%, 80%);
	--pr-70: hsl(240, 75%, 70%);
	--pr-60: hsl(240, 75%, 60%);
	--pr-50: hsl(240, 75%, 50%);
	--pr-40: hsl(240, 75%, 40%);
	--pr-30: hsl(240, 75%, 30%);
	--pr-20: hsl(240, 75%, 20%);
	--se-98: hsl(240, 45%, 98%);
	--se-96: hsl(240, 45%, 96%);
	--se-94: hsl(240, 45%, 94%);
	--se-92: hsl(240, 45%, 92%);
	--se-90: hsl(240, 45%, 90%);
	--se-80: hsl(240, 45%, 80%);
	--se-70: hsl(240, 45%, 70%);
	--se-60: hsl(240, 45%, 60%);
	--se-50: hsl(240, 45%, 50%);
	--se-40: hsl(240, 45%, 40%);
	--se-30: hsl(240, 45%, 30%);
	--se-20: hsl(240, 45%, 20%);
	--te-98: hsl(240, 15%, 98%);
	--te-96: hsl(240, 15%, 96%);
	--te-94: hsl(240, 15%, 94%);
	--te-92: hsl(240, 15%, 92%);
	--te-90: hsl(240, 15%, 90%);
	--te-80: hsl(240, 15%, 80%);
	--te-70: hsl(240, 15%, 70%);
	--te-60: hsl(240, 15%, 60%);
	--te-50: hsl(240, 15%, 50%);
	--te-40: hsl(240, 15%, 40%);
	--te-30: hsl(240, 15%, 30%);
	--te-20: hsl(240, 15%, 20%);
}
