$strong-all: 0px 0px 44px 4px rgba(0, 0, 0, 0.1);
$strong-top: 0px -20px 44px rgba(0, 0, 0, 0.1);
$strong-right: 20px 0px 44px rgba(0, 0, 0, 0.1);
$strong-bottom: 0px 20px 44px rgba(0, 0, 0, 0.1);
$strong-left: -20px 0px 44px rgba(0, 0, 0, 0.1);
$stronger-all: 0px 0px 44px 4px rgba(0, 0, 0, 0.16);
$stronger-top: 0px -20px 44px rgba(0, 0, 0, 0.16);
$stronger-right: 20px 0px 44px rgba(0, 0, 0, 0.16);
$stronger-bottom: 0px 20px 44px rgba(0, 0, 0, 0.16);
$stronger-left: -20px 0px 44px rgba(0, 0, 0, 0.16);
$soft-all: 0px 0px 44px 2px rgba(0, 0, 0, 0.04);
$soft-top: 0px -20px 44px rgba(0, 0, 0, 0.04);
$soft-right: 20px 0px 44px rgba(0, 0, 0, 0.04);
$soft-bottom: 0px 20px 44px rgba(0, 0, 0, 0.04);
$soft-left: -20px 0px 44px rgba(0, 0, 0, 0.04);
