$i: 0;
$baseRemValue: 0.0625;
$xs-breakpoint: (max-width: 30rem);
$sm-breakpoint: (max-width: 45rem);
$md-breakpoint: (max-width: 60rem);
$lg-breakpoint: (max-width: 75rem);
$xl-breakpoint: (max-width: 90rem);
$xxl-breakpoint: (max-width: 105rem);
