$i: 0;
$x: 0;
$base-rem-value: 0.0625;
$breakpoints: (
	'br': 70rem,
);

$maping-units: (
	'0': 0rem,
	'1': 3rem,
	'2': 6rem,
	'3': 9rem,
	'4': 12rem,
	'5': 15rem,
	'6': 18rem,
	'7': 21rem,
	'8': 24rem,
	'9': 27rem,
	'10': 30rem,
	'11': 33rem,
	'12': 36rem,
	'13': 39rem,
	'14': 42rem,
	'15': 45rem,
	'16': 48rem,
	'17': 51rem,
	'18': 54rem,
	'19': 57rem,
	'20': 60rem,
	'21': 63rem,
	'22': 66rem,
	'23': 69rem,
	'24': 72rem,
	'25': 75rem,
	'26': 78rem,
	'27': 81rem,
	'28': 84rem,
	'29': 87rem,
	'30': 90rem,
	'31': 93rem,
	'32': 96rem,
	'33': 99rem,
	'34': 102rem,
	'35': 105rem,
	'36': 108rem,
	'37': 111rem,
	'38': 114rem,
	'39': 117rem,
	'40': 120rem,
);
