$i: 0;
$baseRemValue: 0.0625;

@while $i <= 48 {
	// Padding utility classes
	.padding {
		&-top {
			&-#{$i} {
				padding-top: #{$i * $baseRemValue}rem;
			}
		}
		&-right {
			&-#{$i} {
				padding-right: #{$i * $baseRemValue}rem;
			}
		}
		&-bottom {
			&-#{$i} {
				padding-bottom: #{$i * $baseRemValue}rem;
			}
		}
		&-left {
			&-#{$i} {
				padding-left: #{$i * $baseRemValue}rem;
			}
		}
	}

	// Margin utility classes
	.margin {
		&-top {
			&-#{$i} {
				margin-top: #{$i * $baseRemValue}rem;
			}
		}
		&-right {
			&-#{$i} {
				margin-right: #{$i * $baseRemValue}rem;
			}
		}
		&-bottom {
			&-#{$i} {
				margin-bottom: #{$i * $baseRemValue}rem;
			}
		}
		&-left {
			&-#{$i} {
				margin-left: #{$i * $baseRemValue}rem;
			}
		}
	}

	// Gap utility classes
	.gap {
		&-#{$i} {
			gap: #{$i * $baseRemValue}rem;
		}
	}
	$i: $i + 4;
}
