@use '../color' as *;

$color-map: (
	'gr-100': var(--gray-100),
	'gr-98': var(--gray-98),
	'gr-96': var(--gray-96),
	'gr-94': var(--gray-94),
	'gr-92': var(--gray-92),
	'gr-90': var(--gray-90),
	'gr-88': var(--gray-88),
	'gr-80': var(--gray-80),
	'gr-70': var(--gray-70),
	'gr-60': var(--gray-60),
	'gr-50': var(--gray-50),
	'gr-40': var(--gray-40),
	'gr-30': var(--gray-30),
	'gr-20': var(--gray-20),
	'gr-10': var(--gray-10),
	'gr-0': var(--gray-0),
	'pr-98': var(--primary-98),
	'pr-96': var(--primary-96),
	'pr-94': var(--primary-94),
	'pr-92': var(--primary-92),
	'pr-90': var(--primary-90),
	'pr-88': var(--primary-88),
	'pr-50': var(--primary-50),
	'pr-40': var(--primary-40),
	'pr-30': var(--primary-30),
	'pr-20': var(--primary-20),
	'se-98': var(--secondary-98),
	'se-96': var(--secondary-96),
	'se-94': var(--secondary-94),
	'se-92': var(--secondary-92),
	'se-90': var(--secondary-90),
	'se-88': var(--secondary-88),
	'se-40': var(--secondary-40),
	'se-30': var(--secondary-30),
	'se-20': var(--secondary-20),
	'te-98': var(--tertiary-98),
	'te-96': var(--tertiary-96),
	'te-94': var(--tertiary-94),
	'te-92': var(--tertiary-92),
	'te-90': var(--tertiary-90),
	'te-88': var(--tertiary-88),
	'te-40': var(--tertiary-40),
	'te-30': var(--tertiary-30),
	'te-20': var(--tertiary-20),
	'in-98': var(--info-98),
	'in-96': var(--info-96),
	'in-94': var(--info-94),
	'in-92': var(--info-92),
	'in-90': var(--info-90),
	'in-88': var(--info-88),
	'in-40': var(--info-40),
	'in-30': var(--info-30),
	'er-98': var(--error-98),
	'er-96': var(--error-96),
	'er-94': var(--error-94),
	'er-92': var(--error-92),
	'er-90': var(--error-90),
	'er-88': var(--error-88),
	'er-40': var(--error-40),
	'er-30': var(--error-30),
	'wa-98': var(--warning-98),
	'wa-96': var(--warning-96),
	'wa-94': var(--warning-94),
	'wa-92': var(--warning-92),
	'wa-90': var(--warning-90),
	'wa-88': var(--warning-88),
	'wa-40': var(--warning-40),
	'wa-30': var(--warning-30),
	'ad-98': var(--advice-98),
	'ad-96': var(--advice-96),
	'ad-94': var(--advice-94),
	'ad-92': var(--advice-92),
	'ad-90': var(--advice-90),
	'ad-88': var(--advice-88),
	'ad-40': var(--advice-40),
	'ad-30': var(--advice-30),
);

@each $color-key, $single-color in $color-map {
	.bg-#{$color-key} {
		background-color: $single-color;
	}

	.cl-#{$color-key} {
		color: $single-color;
	}
}
