@use '../units' as *;

@while $i <= 120 {
	.gap {
		&-#{$x} {
			gap: #{$i * $base-rem-value}rem;
		}
	}
	$i: $i + 4;
	$x: $x + 1;
}

@mixin gap($breakpoint) {
	@while $i <= 120 {
		.gap {
			&-#{$breakpoint}-#{$x} {
				gap: #{$i * $base-rem-value}rem;
			}
		}
		$i: $i + 4;
		$x: $x + 1;
	}
}
