@use '../units' as *;

@while $i <= 48 {
	.gap {
		&-#{$i} {
			gap: #{$i * $base-rem-value}rem;
		}
	}
	$i: $i + 8;
}

@mixin gap($breakpoint) {
	@while $i <= 48 {
		.gap {
			&-#{$breakpoint}-#{$i} {
				gap: #{$i * $base-rem-value}rem;
			}
		}
		$i: $i + 8;
	}
}
