@use '../units' as *;

@while $i <= 48 {
	// Gap utility classes
	.gap {
		&-#{$i} {
			gap: #{$i * $base-rem-value}rem;
		}
	}
	$i: $i + 4;
}

// Responsive

@mixin responsiveOrder($name) {
	@while $i <= 48 {
		.gap {
			&-#{$i}--#{$name} {
				gap: #{$i * $base-rem-value}rem;
			}
		}
		$i: $i + 4;
	}
}

@media (max-width: $sm-breakpoint) {
	@include responsiveOrder('sm');
}
@media (max-width: $md-breakpoint) {
	@include responsiveOrder('md');
}
@media (max-width: $lg-breakpoint) {
	@include responsiveOrder('lg');
}
