@use '../units' as *;

@while $i <= 1920 {
	.h-#{$i} {
		height: #{$i * $base-rem-value}rem;
	}

	.minh-#{$i} {
		min-height: #{$i * $base-rem-value}rem;
	}
	$i: $i + 48;
}

.h-fill {
	height: 100%;
}

.h-auto {
	height: auto;
}

@mixin height($breakpoint) {
	@while $i <= 1920 {
		.h-#{$breakpoint}-#{$i} {
			height: #{$i * $base-rem-value}rem;
		}

		.minh-#{$breakpoint}-#{$i} {
			min-height: #{$i * $base-rem-value}rem;
		}
		$i: $i + 48;
	}

	.h-#{$breakpoint}-fill {
		height: 100%;
	}

	.h-#{$breakpoint}-auto {
		height: auto;
	}
}
