@use '../units' as *;

@each $height-key, $single-height in $maping-units {
	.h-#{$height-key} {
		height: $single-height;
	}

	.minh-#{$height-key} {
		height: $single-height;
	}
}

.h-fill {
	height: 100%;
}

.h-auto {
	height: auto;
}

@mixin height($breakpoint) {
	@each $height-key, $single-height in $maping-units {
		.h-#{$height-key}--#{$breakpoint} {
			height: $single-height;
		}

		.minh-#{$height-key}--#{$breakpoint} {
			height: $single-height;
		}
	}

	.h-fill--#{$breakpoint} {
		height: 100%;
	}

	.h-auto--#{$breakpoint} {
		height: auto;
	}
}
