@use '../units' as *;

.m {
	@while $i <= 48 {
		&t {
			&-#{$i} {
				margin-top: #{$i * $base-rem-value}rem;
			}
		}
		&r {
			&-#{$i} {
				margin-right: #{$i * $base-rem-value}rem;
			}
		}
		&b {
			&-#{$i} {
				margin-bottom: #{$i * $base-rem-value}rem;
			}
		}
		&l {
			&-#{$i} {
				margin-left: #{$i * $base-rem-value}rem;
			}
		}
		&y {
			&-#{$i} {
				margin-top: #{$i * $base-rem-value}rem;
				margin-bottom: #{$i * $base-rem-value}rem;
			}
		}
		&x {
			&-#{$i} {
				margin-right: #{$i * $base-rem-value}rem;
				margin-left: #{$i * $base-rem-value}rem;
			}
		}
		&a {
			&-#{$i} {
				margin-top: #{$i * $base-rem-value}rem;
				margin-right: #{$i * $base-rem-value}rem;
				margin-bottom: #{$i * $base-rem-value}rem;
				margin-left: #{$i * $base-rem-value}rem;
			}
		}

		$i: $i + 4;
	}
	// Margin auto class
	&t {
		&-auto {
			margin-top: auto;
		}
	}
	&r {
		&-auto {
			margin-right: auto;
		}
	}
	&b {
		&-auto {
			margin-bottom: auto;
		}
	}
	&l {
		&-auto {
			margin-left: auto;
		}
	}
	&y {
		&-auto {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	&x {
		&-auto {
			margin-right: auto;
			margin-left: auto;
		}
	}
	&a {
		&-auto {
			margin-top: auto;
			margin-right: auto;
			margin-bottom: auto;
			margin-left: auto;
		}
	}
}
