@use '../units' as *;

.p {
	@while $i <= 48 {
		&t {
			&-#{$i} {
				padding-top: #{$i * $base-rem-value}rem;
			}
		}
		&r {
			&-#{$i} {
				padding-right: #{$i * $base-rem-value}rem;
			}
		}
		&b {
			&-#{$i} {
				padding-bottom: #{$i * $base-rem-value}rem;
			}
		}
		&l {
			&-#{$i} {
				padding-left: #{$i * $base-rem-value}rem;
			}
		}
		&y {
			&-#{$i} {
				padding-top: #{$i * $base-rem-value}rem;
				padding-bottom: #{$i * $base-rem-value}rem;
			}
		}
		&x {
			&-#{$i} {
				padding-right: #{$i * $base-rem-value}rem;
				padding-left: #{$i * $base-rem-value}rem;
			}
		}
		&a {
			&-#{$i} {
				padding-top: #{$i * $base-rem-value}rem;
				padding-right: #{$i * $base-rem-value}rem;
				padding-bottom: #{$i * $base-rem-value}rem;
				padding-left: #{$i * $base-rem-value}rem;
			}
		}
		$i: $i + 4;
	}
}

@mixin padding($breakpoint) {
	@while $i <= 48 {
		.p {
			&t {
				&-#{$breakpoint}-#{$i} {
					padding-top: #{$i * $base-rem-value}rem;
				}
			}
			&r {
				&-#{$breakpoint}-#{$i} {
					padding-right: #{$i * $base-rem-value}rem;
				}
			}
			&b {
				&-#{$breakpoint}-#{$i} {
					padding-bottom: #{$i * $base-rem-value}rem;
				}
			}
			&l {
				&-#{$breakpoint}-#{$i} {
					padding-left: #{$i * $base-rem-value}rem;
				}
			}
			&y {
				&-#{$breakpoint}-#{$i} {
					padding-top: #{$i * $base-rem-value}rem;
					padding-bottom: #{$i * $base-rem-value}rem;
				}
			}
			&x {
				&-#{$breakpoint}-#{$i} {
					padding-right: #{$i * $base-rem-value}rem;
					padding-left: #{$i * $base-rem-value}rem;
				}
			}
			&a {
				&-#{$breakpoint}-#{$i} {
					padding-top: #{$i * $base-rem-value}rem;
					padding-right: #{$i * $base-rem-value}rem;
					padding-bottom: #{$i * $base-rem-value}rem;
					padding-left: #{$i * $base-rem-value}rem;
				}
			}
		}
		$i: $i + 4;
	}
}
