@use '../units' as *;

.r {
	@while $i <= 48 {
		&tl {
			&-#{$x} {
				border-top-left-radius: #{$i * $base-rem-value}rem;
			}
		}
		&tr {
			&-#{$x} {
				border-top-right-radius: #{$i * $base-rem-value}rem;
			}
		}
		&br {
			&-#{$x} {
				border-bottom-right-radius: #{$i * $base-rem-value}rem;
			}
		}
		&bl {
			&-#{$x} {
				border-bottom-left-radius: #{$i * $base-rem-value}rem;
			}
		}
		&y {
			&-#{$x} {
				border-top-left-radius: #{$i * $base-rem-value}rem;
				border-top-right-radius: #{$i * $base-rem-value}rem;
			}
		}
		&x {
			&-#{$x} {
				border-bottom-right-radius: #{$i * $base-rem-value}rem;
				border-bottom-left-radius: #{$i * $base-rem-value}rem;
			}
		}
		&a {
			&-#{$x} {
				border-top-right-radius: #{$i * $base-rem-value}rem;
				border-top-left-radius: #{$i * $base-rem-value}rem;
				border-bottom-right-radius: #{$i * $base-rem-value}rem;
				border-bottom-left-radius: #{$i * $base-rem-value}rem;
			}
		}
		$i: $i + 4;
		$x: $x + 1;
	}
}

.round {
	border-top-right-radius: 100rem;
	border-top-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
	border-bottom-left-radius: 100rem;
}
