@use '../units' as *;

@each $width-key, $single-width in $maping-units {
	.w-#{$width-key} {
		width: $single-width;
	}

	.maxw-#{$width-key} {
		width: min($single-width, 100%);
	}
}

.w-fill {
	width: 100%;
}

.w-fit {
	width: fit-content;
}

@mixin width($breakpoint) {
	@each $width-key, $single-width in $maping-units {
		.w-#{$width-key}--#{$breakpoint} {
			width: $single-width;
		}

		.maxw-#{$width-key}--#{$breakpoint} {
			width: min($single-width, 100%);
		}
	}

	.w-fill--#{$breakpoint} {
		width: 100%;
	}

	.w-fit--#{$breakpoint} {
		width: fit-content;
	}
}
