@use '../units' as *;

@while $i <= 1920 {
	.w-#{$i} {
		width: #{$i * $base-rem-value}rem;
	}

	.maxw-#{$i} {
		width: min(#{$i * $base-rem-value}rem, 100%);
	}
	$i: $i + 48;
}

.w-fill {
	width: 100%;
}

.w-fit {
	width: fit-content;
}

@mixin width($breakpoint) {
	@while $i <= 1920 {
		.w-#{$breakpoint}-#{$i} {
			width: #{$i * $base-rem-value}rem;
		}

		.maxw-#{$breakpoint}-#{$i} {
			width: min(#{$i * $base-rem-value}rem, 100%);
		}
		$i: $i + 48;
	}

	.w-#{$breakpoint}-fill {
		width: 100%;
	}

	.w-#{$breakpoint}-fit {
		width: fit-content;
	}
}
