@use '../units' as *;

@while $i <= 120 {
	.w-#{$i} {
		width: #{$i}rem;
	}

	.maxw-#{$i} {
		max-width: #{$i}rem;
	}
	$i: $i + 4;
}

.w-fill {
	width: 100%;
}

.w-auto {
	width: auto;
}

@mixin width($breakpoint) {
	@while $i <= 120 {
		.w-#{$breakpoint}-#{$i} {
			width: #{$i}rem;
		}

		.maxw-#{$breakpoint}-#{$i} {
			max-width: #{$i}rem;
		}
		$i: $i + 5;
	}

	.w-#{$breakpoint}-fill {
		width: 100%;
	}

	.w-#{$breakpoint}-auto {
		width: auto;
	}
}
