$typography-sizes: (
	'lead': 2.566rem,
	'title': 2.281rem,
	'h1': 2rem,
	'h2': 1.812rem,
	'h3': 1.625rem,
	'h4': 1.438rem,
	'h5': 1.25rem,
	'h6': 1.125rem,
	'p': 1rem,
	'sub': 0.875rem,
	'cap': 0.702rem,
);

$typography-weights: (
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'600': 600,
	'700': 700,
);

@each $type-key, $single-type in $typography-sizes {
	@each $weight-key, $single-weight in $typography-weights {
		.#{$type-key}-#{$weight-key} {
			font-size: $single-type;
			font-weight: $single-weight;
		}
	}
}

@mixin type-size($breakpoint) {
	@each $type-key, $single-type in $typography-sizes {
		@each $weight-key, $single-weight in $typography-weights {
			.#{$type-key}-#{$breakpoint}-#{$weight-key} {
				font-size: $single-type;
				font-weight: $single-weight;
			}
		}
	}
}
