.flex {
	&-col {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&-wrap {
		&-none {
			flex-wrap: nowrap;
		}
	}
	// Flex grow and shrink added
	@for $i from 0 through 3 {
		&-grow-#{$i} {
			flex-grow: #{$i};
		}
		&-shrink-#{$i} {
			flex-shrink: #{$i};
		}
	}
}
