.a {
	&i {
		&-fill {
			align-items: stretch;
		}
		&-center {
			align-items: center;
		}
		&-start {
			align-items: start;
		}
		&-end {
			align-items: end;
		}
	}
	&s {
		&-fill {
			align-self: stretch;
		}
		&-center {
			align-self: center;
		}
		&-start {
			align-self: start;
		}
		&-end {
			align-self: end;
		}
	}
	&c {
		&-center {
			align-content: center;
		}
		&-start {
			align-content: start;
		}
		&-end {
			align-content: end;
		}
		&-around {
			align-content: space-around;
		}
		&-between {
			align-content: space-between;
		}
		&-even {
			align-content: space-evenly;
		}
	}
}

@mixin align($breakpoint) {
	.a {
		&i {
			&-#{$breakpoint}-fill {
				align-items: stretch;
			}
			&-#{$breakpoint}-center {
				align-items: center;
			}
			&-#{$breakpoint}-start {
				align-items: start;
			}
			&-#{$breakpoint}-end {
				align-items: end;
			}
		}
		&s {
			&-#{$breakpoint}-fill {
				align-self: stretch;
			}
			&-#{$breakpoint}-center {
				align-self: center;
			}
			&-#{$breakpoint}-start {
				align-self: start;
			}
			&-#{$breakpoint}-end {
				align-self: end;
			}
		}
		&c {
			&-#{$breakpoint}-center {
				align-content: center;
			}
			&-#{$breakpoint}-start {
				align-content: start;
			}
			&-#{$breakpoint}-end {
				align-content: end;
			}
			&-#{$breakpoint}-around {
				align-content: space-around;
			}
			&-#{$breakpoint}-between {
				align-content: space-between;
			}
			&-#{$breakpoint}-even {
				align-content: space-evenly;
			}
		}
	}
}
