@use '../units' as *;

@while $i <= 720 {
	.base-#{$x} {
		flex-basis: #{$i * $base-rem-value}rem;
	}
	$i: $i + 48;
	$x: $x + 1;
}

@mixin basis($breakpoint) {
	@while $i <= 720 {
		.base-#{$breakpoint}-#{$x} {
			flex-basis: #{$i * $base-rem-value}rem;
		}
		$i: $i + 48;
		$x: $x + 1;
	}
}
