@use '../units' as *;

@while $i <= 120 {
	.base-#{$i} {
		flex-basis: #{$i}rem;
	}
	$i: $i + 8;
}

@mixin basis($breakpoint) {
	@while $i <= 120 {
		.base-#{$breakpoint}-#{$i} {
			flex-basis: #{$i}rem;
		}
		$i: $i + 8;
	}
}
