@use '../units' as *;

@while $i <= 720 {
	.base-#{$i} {
		flex-basis: #{$i * $base-rem-value}rem;
	}
	$i: $i + 48;
}

@mixin basis($breakpoint) {
	@while $i <= 720 {
		.base-#{$breakpoint}-#{$i} {
			flex-basis: #{$i * $base-rem-value}rem;
		}
		$i: $i + 48;
	}
}
