.col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrap-0 {
	flex-wrap: nowrap;
}

@mixin flex($breakpoint) {
	.col-#{$breakpoint} {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.row-#{$breakpoint} {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.wrap-#{$breakpoint}-0 {
		flex-wrap: nowrap;
	}
}
