@for $i from 1 through 8 {
	.r {
		&s-#{$i} {
			grid-row-start: $i;
		}
		&e-#{$i} {
			grid-row-end: $i;
		}
	}
}

.re-fill {
	grid-row-end: -1;
}

@mixin grid-row($breakpoint) {
	@for $i from 1 through 9 {
		.r {
			&s-#{$breakpoint}-#{$i} {
				grid-row-start: $i;
			}
			&e-#{$breakpoint}-#{$i} {
				grid-row-end: $i;
			}
		}
	}

	.re-#{$breakpoint}-fill {
		grid-row-end: -1;
	}
}
