@use '../units' as *;

// Fluid grid
@while $i <= 720 {
	.fluid-#{$x} {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(#{$i * $base-rem-value}rem, 1fr));
	}
	$i: $i + 48;
	$x: $x + 1;
}

// Repeat grid rows and grid columns
@for $i from 1 through 8 {
	.row {
		&-#{$i} {
			grid-template-rows: repeat($i, 1fr);
			display: grid;
		}
	}

	.col {
		&-#{$i} {
			grid-template-columns: repeat($i, 1fr);
			display: grid;
		}
	}
}

@mixin grid($breakpoint) {
	@for $i from 1 through 8 {
		.row {
			&-#{$breakpoint}-#{$i} {
				grid-template-rows: repeat($i, 1fr);
				display: grid;
			}
		}

		.col {
			&-#{$breakpoint}-#{$i} {
				grid-template-columns: repeat($i, 1fr);
				display: grid;
			}
		}
	}

	@while $i <= 720 {
		.fluid-#{$breakpoint}-#{$x} {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(#{$i * $base-rem-value}rem, 1fr));
		}
		$i: $i + 48;
		$x: $x + 1;
	}
}
