@use '../units' as *;

// Fluid grid
@while $i <= 48 {
	.fluid-#{$i} {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(#{$i}rem, 1fr));
	}
	$i: $i + 4;
}

// Repeat grid rows and grid columns
@for $i from 1 through 16 {
	.row {
		&-#{$i} {
			grid-template-rows: repeat($i, 1fr);
			display: grid;
		}
	}

	.col {
		&-#{$i} {
			grid-template-columns: repeat($i, 1fr);
			display: grid;
		}
	}
}

@mixin grid($breakpoint) {
	@for $i from 1 through 16 {
		.row {
			&-#{$breakpoint}-#{$i} {
				grid-template-rows: repeat($i, 1fr);
				display: grid;
			}
		}

		.col {
			&-#{$breakpoint}-#{$i} {
				grid-template-columns: repeat($i, 1fr);
				display: grid;
			}
		}
	}

	@while $i <= 48 {
		.fluid-#{$breakpoint}-#{$i} {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(#{$i}rem, 1fr));
		}
		$i: $i + 4;
	}
}
