@for $i from 1 through 8 {
	.c {
		&s-#{$i} {
			grid-column-start: $i;
		}
		&e-#{$i} {
			grid-column-end: $i;
		}
	}
}

.ce-fill {
	grid-column-end: -1;
}

@mixin grid-col($breakpoint) {
	@for $i from 1 through 9 {
		.c {
			&s-#{$breakpoint}-#{$i} {
				grid-column-start: $i;
			}
			&e-#{$breakpoint}-#{$i} {
				grid-column-end: $i;
			}
		}
	}

	.ce-#{$breakpoint}-fill {
		grid-column-end: -1;
	}
}
