.j {
	&c {
		&-center {
			justify-content: center;
		}
		&-start {
			justify-content: start;
		}
		&-end {
			justify-content: end;
		}
		&-around {
			justify-content: space-around;
		}
		&-between {
			justify-content: space-between;
		}
		&-even {
			justify-content: space-evenly;
		}
	}
	&s {
		&-fill {
			justify-self: stretch;
		}
		&-center {
			justify-self: center;
		}
		&-start {
			justify-self: start;
		}
		&-end {
			justify-self: end;
		}
	}
}

@mixin justify($breakpoint) {
	.j {
		&c {
			&-#{$breakpoint}-center {
				justify-content: center;
			}
			&-#{$breakpoint}-start {
				justify-content: start;
			}
			&-#{$breakpoint}-end {
				justify-content: end;
			}
			&-#{$breakpoint}-around {
				justify-content: space-around;
			}
			&-#{$breakpoint}-between {
				justify-content: space-between;
			}
			&-#{$breakpoint}-even {
				justify-content: space-evenly;
			}
		}
		&s {
			&-#{$breakpoint}-fill {
				justify-self: stretch;
			}
			&-#{$breakpoint}-center {
				justify-self: center;
			}
			&-#{$breakpoint}-start {
				justify-self: start;
			}
			&-#{$breakpoint}-end {
				justify-self: end;
			}
		}
	}
}
