.j {
	&c {
		&-center {
			justify-content: center;
		}
		&-start {
			justify-content: start;
		}
		&-end {
			justify-content: end;
		}
		&-around {
			justify-content: space-around;
		}
		&-between {
			justify-content: space-between;
		}
		&-even {
			justify-content: space-evenly;
		}
	}
	&s {
		&-fill {
			justify-self: stretch;
		}
		&-center {
			justify-self: center;
		}
		&-start {
			justify-self: start;
		}
		&-end {
			justify-self: end;
		}
	}
}
