*,
*::after,
*::before {
  box-sizing: border-box;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

html {
  font-size: 16px;
}

.pt-0 {
  padding-top: 0rem;
}
.pr-0 {
  padding-right: 0rem;
}
.pb-0 {
  padding-bottom: 0rem;
}
.pl-0 {
  padding-left: 0rem;
}
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.px-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}
.pa-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}
.pt-4 {
  padding-top: 0.25rem;
}
.pr-4 {
  padding-right: 0.25rem;
}
.pb-4 {
  padding-bottom: 0.25rem;
}
.pl-4 {
  padding-left: 0.25rem;
}
.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.pa-4 {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}
.pt-8 {
  padding-top: 0.5rem;
}
.pr-8 {
  padding-right: 0.5rem;
}
.pb-8 {
  padding-bottom: 0.5rem;
}
.pl-8 {
  padding-left: 0.5rem;
}
.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.pa-8 {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.pt-12 {
  padding-top: 0.75rem;
}
.pr-12 {
  padding-right: 0.75rem;
}
.pb-12 {
  padding-bottom: 0.75rem;
}
.pl-12 {
  padding-left: 0.75rem;
}
.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.pa-12 {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}
.pt-16 {
  padding-top: 1rem;
}
.pr-16 {
  padding-right: 1rem;
}
.pb-16 {
  padding-bottom: 1rem;
}
.pl-16 {
  padding-left: 1rem;
}
.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-16 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.pa-16 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.pr-20 {
  padding-right: 1.25rem;
}
.pb-20 {
  padding-bottom: 1.25rem;
}
.pl-20 {
  padding-left: 1.25rem;
}
.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-20 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.pa-20 {
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}
.pt-24 {
  padding-top: 1.5rem;
}
.pr-24 {
  padding-right: 1.5rem;
}
.pb-24 {
  padding-bottom: 1.5rem;
}
.pl-24 {
  padding-left: 1.5rem;
}
.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.pa-24 {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.pt-28 {
  padding-top: 1.75rem;
}
.pr-28 {
  padding-right: 1.75rem;
}
.pb-28 {
  padding-bottom: 1.75rem;
}
.pl-28 {
  padding-left: 1.75rem;
}
.py-28 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.px-28 {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}
.pa-28 {
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
}
.pt-32 {
  padding-top: 2rem;
}
.pr-32 {
  padding-right: 2rem;
}
.pb-32 {
  padding-bottom: 2rem;
}
.pl-32 {
  padding-left: 2rem;
}
.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-32 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.pa-32 {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.pt-36 {
  padding-top: 2.25rem;
}
.pr-36 {
  padding-right: 2.25rem;
}
.pb-36 {
  padding-bottom: 2.25rem;
}
.pl-36 {
  padding-left: 2.25rem;
}
.py-36 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.px-36 {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}
.pa-36 {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}
.pt-40 {
  padding-top: 2.5rem;
}
.pr-40 {
  padding-right: 2.5rem;
}
.pb-40 {
  padding-bottom: 2.5rem;
}
.pl-40 {
  padding-left: 2.5rem;
}
.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.px-40 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.pa-40 {
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}
.pt-44 {
  padding-top: 2.75rem;
}
.pr-44 {
  padding-right: 2.75rem;
}
.pb-44 {
  padding-bottom: 2.75rem;
}
.pl-44 {
  padding-left: 2.75rem;
}
.py-44 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}
.px-44 {
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}
.pa-44 {
  padding-top: 2.75rem;
  padding-right: 2.75rem;
  padding-bottom: 2.75rem;
  padding-left: 2.75rem;
}
.pt-48 {
  padding-top: 3rem;
}
.pr-48 {
  padding-right: 3rem;
}
.pb-48 {
  padding-bottom: 3rem;
}
.pl-48 {
  padding-left: 3rem;
}
.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.px-48 {
  padding-right: 3rem;
  padding-left: 3rem;
}
.pa-48 {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}
.mr-0 {
  margin-right: 0rem;
}
.mb-0 {
  margin-bottom: 0rem;
}
.ml-0 {
  margin-left: 0rem;
}
.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.mx-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}
.ma-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}
.mt-4 {
  margin-top: 0.25rem;
}
.mr-4 {
  margin-right: 0.25rem;
}
.mb-4 {
  margin-bottom: 0.25rem;
}
.ml-4 {
  margin-left: 0.25rem;
}
.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.ma-4 {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
.mt-8 {
  margin-top: 0.5rem;
}
.mr-8 {
  margin-right: 0.5rem;
}
.mb-8 {
  margin-bottom: 0.5rem;
}
.ml-8 {
  margin-left: 0.5rem;
}
.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.ma-8 {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.mt-12 {
  margin-top: 0.75rem;
}
.mr-12 {
  margin-right: 0.75rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.ml-12 {
  margin-left: 0.75rem;
}
.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.ma-12 {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mr-16 {
  margin-right: 1rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.ml-16 {
  margin-left: 1rem;
}
.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.ma-16 {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.mt-20 {
  margin-top: 1.25rem;
}
.mr-20 {
  margin-right: 1.25rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.ml-20 {
  margin-left: 1.25rem;
}
.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mx-20 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}
.ma-20 {
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}
.mt-24 {
  margin-top: 1.5rem;
}
.mr-24 {
  margin-right: 1.5rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.ml-24 {
  margin-left: 1.5rem;
}
.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.ma-24 {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.mt-28 {
  margin-top: 1.75rem;
}
.mr-28 {
  margin-right: 1.75rem;
}
.mb-28 {
  margin-bottom: 1.75rem;
}
.ml-28 {
  margin-left: 1.75rem;
}
.my-28 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.mx-28 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.ma-28 {
  margin-top: 1.75rem;
  margin-right: 1.75rem;
  margin-bottom: 1.75rem;
  margin-left: 1.75rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mr-32 {
  margin-right: 2rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.ml-32 {
  margin-left: 2rem;
}
.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.ma-32 {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.mt-36 {
  margin-top: 2.25rem;
}
.mr-36 {
  margin-right: 2.25rem;
}
.mb-36 {
  margin-bottom: 2.25rem;
}
.ml-36 {
  margin-left: 2.25rem;
}
.my-36 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.mx-36 {
  margin-right: 2.25rem;
  margin-left: 2.25rem;
}
.ma-36 {
  margin-top: 2.25rem;
  margin-right: 2.25rem;
  margin-bottom: 2.25rem;
  margin-left: 2.25rem;
}
.mt-40 {
  margin-top: 2.5rem;
}
.mr-40 {
  margin-right: 2.5rem;
}
.mb-40 {
  margin-bottom: 2.5rem;
}
.ml-40 {
  margin-left: 2.5rem;
}
.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.mx-40 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.ma-40 {
  margin-top: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
}
.mt-44 {
  margin-top: 2.75rem;
}
.mr-44 {
  margin-right: 2.75rem;
}
.mb-44 {
  margin-bottom: 2.75rem;
}
.ml-44 {
  margin-left: 2.75rem;
}
.my-44 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
.mx-44 {
  margin-right: 2.75rem;
  margin-left: 2.75rem;
}
.ma-44 {
  margin-top: 2.75rem;
  margin-right: 2.75rem;
  margin-bottom: 2.75rem;
  margin-left: 2.75rem;
}
.mt-48 {
  margin-top: 3rem;
}
.mr-48 {
  margin-right: 3rem;
}
.mb-48 {
  margin-bottom: 3rem;
}
.ml-48 {
  margin-left: 3rem;
}
.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem;
}
.ma-48 {
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.mt-0--n {
  margin-top: -0rem;
}
.mr-0--n {
  margin-right: -0rem;
}
.mb-0--n {
  margin-bottom: -0rem;
}
.ml-0--n {
  margin-left: -0rem;
}
.mt-4--n {
  margin-top: -0.25rem;
}
.mr-4--n {
  margin-right: -0.25rem;
}
.mb-4--n {
  margin-bottom: -0.25rem;
}
.ml-4--n {
  margin-left: -0.25rem;
}
.mt-8--n {
  margin-top: -0.5rem;
}
.mr-8--n {
  margin-right: -0.5rem;
}
.mb-8--n {
  margin-bottom: -0.5rem;
}
.ml-8--n {
  margin-left: -0.5rem;
}
.mt-12--n {
  margin-top: -0.75rem;
}
.mr-12--n {
  margin-right: -0.75rem;
}
.mb-12--n {
  margin-bottom: -0.75rem;
}
.ml-12--n {
  margin-left: -0.75rem;
}
.mt-16--n {
  margin-top: -1rem;
}
.mr-16--n {
  margin-right: -1rem;
}
.mb-16--n {
  margin-bottom: -1rem;
}
.ml-16--n {
  margin-left: -1rem;
}
.mt-20--n {
  margin-top: -1.25rem;
}
.mr-20--n {
  margin-right: -1.25rem;
}
.mb-20--n {
  margin-bottom: -1.25rem;
}
.ml-20--n {
  margin-left: -1.25rem;
}
.mt-24--n {
  margin-top: -1.5rem;
}
.mr-24--n {
  margin-right: -1.5rem;
}
.mb-24--n {
  margin-bottom: -1.5rem;
}
.ml-24--n {
  margin-left: -1.5rem;
}
.mt-28--n {
  margin-top: -1.75rem;
}
.mr-28--n {
  margin-right: -1.75rem;
}
.mb-28--n {
  margin-bottom: -1.75rem;
}
.ml-28--n {
  margin-left: -1.75rem;
}
.mt-32--n {
  margin-top: -2rem;
}
.mr-32--n {
  margin-right: -2rem;
}
.mb-32--n {
  margin-bottom: -2rem;
}
.ml-32--n {
  margin-left: -2rem;
}
.mt-36--n {
  margin-top: -2.25rem;
}
.mr-36--n {
  margin-right: -2.25rem;
}
.mb-36--n {
  margin-bottom: -2.25rem;
}
.ml-36--n {
  margin-left: -2.25rem;
}
.mt-40--n {
  margin-top: -2.5rem;
}
.mr-40--n {
  margin-right: -2.5rem;
}
.mb-40--n {
  margin-bottom: -2.5rem;
}
.ml-40--n {
  margin-left: -2.5rem;
}
.mt-44--n {
  margin-top: -2.75rem;
}
.mr-44--n {
  margin-right: -2.75rem;
}
.mb-44--n {
  margin-bottom: -2.75rem;
}
.ml-44--n {
  margin-left: -2.75rem;
}
.mt-48--n {
  margin-top: -3rem;
}
.mr-48--n {
  margin-right: -3rem;
}
.mb-48--n {
  margin-bottom: -3rem;
}
.ml-48--n {
  margin-left: -3rem;
}
.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.ma-auto {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.gap-0 {
  gap: 0rem;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-20 {
  gap: 1.25rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-28 {
  gap: 1.75rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-36 {
  gap: 2.25rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-44 {
  gap: 2.75rem;
}

.gap-48 {
  gap: 3rem;
}

.w-0 {
  width: 0rem;
}

.max-w-0 {
  max-width: 0rem;
}

.w-5 {
  width: 5rem;
}

.max-w-5 {
  max-width: 5rem;
}

.w-10 {
  width: 10rem;
}

.max-w-10 {
  max-width: 10rem;
}

.w-15 {
  width: 15rem;
}

.max-w-15 {
  max-width: 15rem;
}

.w-20 {
  width: 20rem;
}

.max-w-20 {
  max-width: 20rem;
}

.w-25 {
  width: 25rem;
}

.max-w-25 {
  max-width: 25rem;
}

.w-30 {
  width: 30rem;
}

.max-w-30 {
  max-width: 30rem;
}

.w-35 {
  width: 35rem;
}

.max-w-35 {
  max-width: 35rem;
}

.w-40 {
  width: 40rem;
}

.max-w-40 {
  max-width: 40rem;
}

.w-45 {
  width: 45rem;
}

.max-w-45 {
  max-width: 45rem;
}

.w-50 {
  width: 50rem;
}

.max-w-50 {
  max-width: 50rem;
}

.w-55 {
  width: 55rem;
}

.max-w-55 {
  max-width: 55rem;
}

.w-60 {
  width: 60rem;
}

.max-w-60 {
  max-width: 60rem;
}

.w-65 {
  width: 65rem;
}

.max-w-65 {
  max-width: 65rem;
}

.w-70 {
  width: 70rem;
}

.max-w-70 {
  max-width: 70rem;
}

.w-75 {
  width: 75rem;
}

.max-w-75 {
  max-width: 75rem;
}

.w-80 {
  width: 80rem;
}

.max-w-80 {
  max-width: 80rem;
}

.w-85 {
  width: 85rem;
}

.max-w-85 {
  max-width: 85rem;
}

.w-90 {
  width: 90rem;
}

.max-w-90 {
  max-width: 90rem;
}

.w-95 {
  width: 95rem;
}

.max-w-95 {
  max-width: 95rem;
}

.w-100 {
  width: 100rem;
}

.max-w-100 {
  max-width: 100rem;
}

.w-105 {
  width: 105rem;
}

.max-w-105 {
  max-width: 105rem;
}

.w-110 {
  width: 110rem;
}

.max-w-110 {
  max-width: 110rem;
}

.w-115 {
  width: 115rem;
}

.max-w-115 {
  max-width: 115rem;
}

.w-120 {
  width: 120rem;
}

.max-w-120 {
  max-width: 120rem;
}

.w-fill {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-0 {
  height: 0rem;
}

.min-h-0 {
  min-height: 0rem;
}

.h-5 {
  height: 5rem;
}

.min-h-5 {
  min-height: 5rem;
}

.h-10 {
  height: 10rem;
}

.min-h-10 {
  min-height: 10rem;
}

.h-15 {
  height: 15rem;
}

.min-h-15 {
  min-height: 15rem;
}

.h-20 {
  height: 20rem;
}

.min-h-20 {
  min-height: 20rem;
}

.h-25 {
  height: 25rem;
}

.min-h-25 {
  min-height: 25rem;
}

.h-30 {
  height: 30rem;
}

.min-h-30 {
  min-height: 30rem;
}

.h-35 {
  height: 35rem;
}

.min-h-35 {
  min-height: 35rem;
}

.h-40 {
  height: 40rem;
}

.min-h-40 {
  min-height: 40rem;
}

.h-45 {
  height: 45rem;
}

.min-h-45 {
  min-height: 45rem;
}

.h-50 {
  height: 50rem;
}

.min-h-50 {
  min-height: 50rem;
}

.h-55 {
  height: 55rem;
}

.min-h-55 {
  min-height: 55rem;
}

.h-60 {
  height: 60rem;
}

.min-h-60 {
  min-height: 60rem;
}

.h-65 {
  height: 65rem;
}

.min-h-65 {
  min-height: 65rem;
}

.h-70 {
  height: 70rem;
}

.min-h-70 {
  min-height: 70rem;
}

.h-75 {
  height: 75rem;
}

.min-h-75 {
  min-height: 75rem;
}

.h-80 {
  height: 80rem;
}

.min-h-80 {
  min-height: 80rem;
}

.h-85 {
  height: 85rem;
}

.min-h-85 {
  min-height: 85rem;
}

.h-90 {
  height: 90rem;
}

.min-h-90 {
  min-height: 90rem;
}

.h-95 {
  height: 95rem;
}

.min-h-95 {
  min-height: 95rem;
}

.h-100 {
  height: 100rem;
}

.min-h-100 {
  min-height: 100rem;
}

.h-105 {
  height: 105rem;
}

.min-h-105 {
  min-height: 105rem;
}

.h-110 {
  height: 110rem;
}

.min-h-110 {
  min-height: 110rem;
}

.h-115 {
  height: 115rem;
}

.min-h-115 {
  min-height: 115rem;
}

.h-120 {
  height: 120rem;
}

.min-h-120 {
  min-height: 120rem;
}

.h-fill {
  height: 100%;
}

.h-auto {
  height: auto;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap-0 {
  flex-wrap: nowrap;
}

.base-0 {
  flex-basis: 0rem;
}

.base-5 {
  flex-basis: 5rem;
}

.base-10 {
  flex-basis: 10rem;
}

.base-15 {
  flex-basis: 15rem;
}

.base-20 {
  flex-basis: 20rem;
}

.base-25 {
  flex-basis: 25rem;
}

.base-30 {
  flex-basis: 30rem;
}

.base-35 {
  flex-basis: 35rem;
}

.base-40 {
  flex-basis: 40rem;
}

.base-45 {
  flex-basis: 45rem;
}

.base-50 {
  flex-basis: 50rem;
}

.base-55 {
  flex-basis: 55rem;
}

.base-60 {
  flex-basis: 60rem;
}

.base-65 {
  flex-basis: 65rem;
}

.base-70 {
  flex-basis: 70rem;
}

.base-75 {
  flex-basis: 75rem;
}

.base-80 {
  flex-basis: 80rem;
}

.base-85 {
  flex-basis: 85rem;
}

.base-90 {
  flex-basis: 90rem;
}

.base-95 {
  flex-basis: 95rem;
}

.base-100 {
  flex-basis: 100rem;
}

.base-105 {
  flex-basis: 105rem;
}

.base-110 {
  flex-basis: 110rem;
}

.base-115 {
  flex-basis: 115rem;
}

.base-120 {
  flex-basis: 120rem;
}

.grow-0 {
  flex-grow: 0;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

.grow-5 {
  flex-grow: 5;
}

.grow-6 {
  flex-grow: 6;
}

.grow-7 {
  flex-grow: 7;
}

.grow-8 {
  flex-grow: 8;
}

.trim-0 {
  flex-shrink: 0;
}

.trim-1 {
  flex-shrink: 1;
}

.trim-2 {
  flex-shrink: 2;
}

.trim-3 {
  flex-shrink: 3;
}

.trim-4 {
  flex-shrink: 4;
}

.trim-5 {
  flex-shrink: 5;
}

.trim-6 {
  flex-shrink: 6;
}

.trim-7 {
  flex-shrink: 7;
}

.trim-8 {
  flex-shrink: 8;
}

.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.jc-even {
  justify-content: space-evenly;
}
.js-fill {
  justify-self: stretch;
}
.js-center {
  justify-self: center;
}
.js-start {
  justify-self: start;
}
.js-end {
  justify-self: end;
}

.ai-fill {
  align-items: stretch;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: start;
}
.ai-end {
  align-items: end;
}
.as-fill {
  align-self: stretch;
}
.as-center {
  align-self: center;
}
.as-start {
  align-self: start;
}
.as-end {
  align-self: end;
}
.ac-center {
  align-content: center;
}
.ac-start {
  align-content: start;
}
.ac-end {
  align-content: end;
}
.ac-around {
  align-content: space-around;
}
.ac-between {
  align-content: space-between;
}
.ac-even {
  align-content: space-evenly;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-13 {
  order: 13;
}

.order-14 {
  order: 14;
}

.order-15 {
  order: 15;
}

.order-16 {
  order: 16;
}

@media (min-width: 30rem) {
  .gap-0--xs {
    gap: 0rem;
  }

  .gap-4--xs {
    gap: 0.25rem;
  }

  .gap-8--xs {
    gap: 0.5rem;
  }

  .gap-12--xs {
    gap: 0.75rem;
  }

  .gap-16--xs {
    gap: 1rem;
  }

  .gap-20--xs {
    gap: 1.25rem;
  }

  .gap-24--xs {
    gap: 1.5rem;
  }

  .gap-28--xs {
    gap: 1.75rem;
  }

  .gap-32--xs {
    gap: 2rem;
  }

  .gap-36--xs {
    gap: 2.25rem;
  }

  .gap-40--xs {
    gap: 2.5rem;
  }

  .gap-44--xs {
    gap: 2.75rem;
  }

  .gap-48--xs {
    gap: 3rem;
  }
}
@media (min-width: 45rem) {
  .gap-0--sm {
    gap: 0rem;
  }

  .gap-4--sm {
    gap: 0.25rem;
  }

  .gap-8--sm {
    gap: 0.5rem;
  }

  .gap-12--sm {
    gap: 0.75rem;
  }

  .gap-16--sm {
    gap: 1rem;
  }

  .gap-20--sm {
    gap: 1.25rem;
  }

  .gap-24--sm {
    gap: 1.5rem;
  }

  .gap-28--sm {
    gap: 1.75rem;
  }

  .gap-32--sm {
    gap: 2rem;
  }

  .gap-36--sm {
    gap: 2.25rem;
  }

  .gap-40--sm {
    gap: 2.5rem;
  }

  .gap-44--sm {
    gap: 2.75rem;
  }

  .gap-48--sm {
    gap: 3rem;
  }
}
@media (min-width: 60rem) {
  .gap-0--md {
    gap: 0rem;
  }

  .gap-4--md {
    gap: 0.25rem;
  }

  .gap-8--md {
    gap: 0.5rem;
  }

  .gap-12--md {
    gap: 0.75rem;
  }

  .gap-16--md {
    gap: 1rem;
  }

  .gap-20--md {
    gap: 1.25rem;
  }

  .gap-24--md {
    gap: 1.5rem;
  }

  .gap-28--md {
    gap: 1.75rem;
  }

  .gap-32--md {
    gap: 2rem;
  }

  .gap-36--md {
    gap: 2.25rem;
  }

  .gap-40--md {
    gap: 2.5rem;
  }

  .gap-44--md {
    gap: 2.75rem;
  }

  .gap-48--md {
    gap: 3rem;
  }
}
@media (min-width: 75rem) {
  .gap-0--lg {
    gap: 0rem;
  }

  .gap-4--lg {
    gap: 0.25rem;
  }

  .gap-8--lg {
    gap: 0.5rem;
  }

  .gap-12--lg {
    gap: 0.75rem;
  }

  .gap-16--lg {
    gap: 1rem;
  }

  .gap-20--lg {
    gap: 1.25rem;
  }

  .gap-24--lg {
    gap: 1.5rem;
  }

  .gap-28--lg {
    gap: 1.75rem;
  }

  .gap-32--lg {
    gap: 2rem;
  }

  .gap-36--lg {
    gap: 2.25rem;
  }

  .gap-40--lg {
    gap: 2.5rem;
  }

  .gap-44--lg {
    gap: 2.75rem;
  }

  .gap-48--lg {
    gap: 3rem;
  }
}
@media (min-width: 90rem) {
  .gap-0--xl {
    gap: 0rem;
  }

  .gap-4--xl {
    gap: 0.25rem;
  }

  .gap-8--xl {
    gap: 0.5rem;
  }

  .gap-12--xl {
    gap: 0.75rem;
  }

  .gap-16--xl {
    gap: 1rem;
  }

  .gap-20--xl {
    gap: 1.25rem;
  }

  .gap-24--xl {
    gap: 1.5rem;
  }

  .gap-28--xl {
    gap: 1.75rem;
  }

  .gap-32--xl {
    gap: 2rem;
  }

  .gap-36--xl {
    gap: 2.25rem;
  }

  .gap-40--xl {
    gap: 2.5rem;
  }

  .gap-44--xl {
    gap: 2.75rem;
  }

  .gap-48--xl {
    gap: 3rem;
  }
}/*# sourceMappingURL=index.css.map */