@use '../color' as *;
@use '../px' as *;

.btn {
	&-wa {
		&-1 {
			background-color: var(--warning-98);
			color: var(--warning-40);
			&:hover {
				background-color: var(--warning-96);
			}
		}
		&-2 {
			background-color: var(--warning-94);
			color: var(--warning-40);
			&:hover {
				background-color: var(--warning-92);
				color: hsl(37, 25%, 38%);
			}
		}
		&-3 {
			background-color: var(--warning-90);
			color: hsl(37, 25%, 35%);
			&:hover {
				background-color: var(--warning-88);
				color: hsl(37, 25%, 32%);
			}
		}
		&-4 {
			background-color: var(--warning-40);
			color: var(--gray-100);
			&:hover {
				background-color: var(--warning-30);
			}
		}
	}
}
